<%provide(:text, 'Contact Us') %>

<h1><%= yield(:text)%></h1>
<p> 
This app servers the purpose of learning web developement with the Ruby on Rails frame work 
<a href="ttp://railstutorial.org/"></a> by Joshua Gudjohnesen @ joshua.gudjohnsen@gmail.com
</p>	